.social {
  display: flex;
  gap: 20px;
  a {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      padding: .5em;
    }
  }
  svg {
    height: 100%;
  }
  a:last-child:after {
    content: 'RU';
    display: block;
    position: absolute;
    font-weight: bold;
    font-size: 8px;
    bottom: -5px;
    left: 0;
  }
}