.lstSidebar {
  display: none;
  width: inherit;
  position: sticky;
  height: inherit;
  max-height: 100vh;
  top: 0;
}
*:has(> .lstSidebar) {
  display: contents;
}
.lstSidebarWr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;
}

.lstSidebarWr [spot="content"] {
  flex: 1;
}

.lstSidebarWr::-webkit-scrollbar {
  width: 7px;
}

.lstSidebarWr::-webkit-scrollbar-track {
  background-color: transparent;
}

.lstSidebarWr::-webkit-scrollbar-thumb {
  background-color: var(--gray300);
  border-radius: 1px;
}

.lstSidebar.l-opened {
  display: block;
}

.lstSidebar.l-mini {
  width: 56px;
  padding: 0;
  overflow: hidden;
}

.lstSidebar.l-mobile {
  inset: 0;
  position: fixed;
  z-index: 999;
}

.lstSidebar.l-mobile .lstSidebarWr {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--bg-primary);
}

.lstSidebar.l-mobile .lstBackdrop {
  position: fixed;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .6);
  transition: opacity .5s;
}