::selection {
  color: white;
  background: #ff7b8c;
}
.navLinks:before {
  content: 'API:';
  margin-right: var(--xxs);
  font-size: 11px;
  font-weight: 400;
  text-transform: none;
}
.navLinks a:nth-child(7) {
  margin-left: 2em;
}
.navLinks a:nth-child(7):before {
  position: absolute;
  content: '|';
  display: block;
  margin-left: -2.1em;
  font-weight: normal;
}